<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h2><p style="background-color: #FFFF66" align=center> <strong> <b> Welcome : ยินดีต้อนรับ  </b></strong></p></h2>
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                <pp class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </pp>
                                        <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                                 <img src="/assets/images/2233.jpg"  style="width:93%;">
                        </div>

                        <div class="item">
                            <img src="/assets/images/2255.jpg"  style="width:93%;">
                        </div>

                        <div class="item">
                            <img src="/assets/images/2244.jpg"  style="width:93%;">
                        </div>
                        <br>
                    </div>
            </div>
        </div>
        <b>เรามีเครื่องสำอางแบรนด์ทุกสูตรครบทุกความต้องการของคุณ</b><br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspที่ร้านค้าออนไลน์ เราได้ตั้งใจรวบรวมเอาแต่ ผลิตภัณฑ์เครื่องสำอาง คุณภาพชั้นดีจากแบรนด์ชื่อดังชั้นนำอย่างมากมาย ครบครันทุกประเภท
        นำมาให้คุณลูกค้าได้ช๊อปปิ้งออนไลน์กันอย่างจุใจ เพื่อมาเอาอกเอาใจคุณลูกค้าสาวๆของเรากันโดยเฉพาะ สามารถตอบสนองได้ทุกความต้องการของคุณ
        นอกจากนี้เรายังมีทุกสิ่งสำหรับคุณ เพราะเราเป็นเว็บแหล่งรวมแฟชั่นออนไลน์เทรนด์ล่าสุด
        เราพร้อมที่จะเป็นตัวช่วยที่ดีที่สุดสำหรับคุณในการค้นหาสินค้าแฟชั่นที่เหมาะกับไลฟ์สไตล์และบ่งบอกความเป็นตัวตนที่แท้จริงของคุณ
        ขอเชิญคุณสาวๆทุกท่านเข้ามาสัมผัสกับแฟชั่นสุดฮ๊อตเทรนด์ล่าสุดได้ที่นี่
        เลือกซื้อเลือกช็อปกับเราได้ในขั้นตอนง่ายๆ และขอจงเตรียมตัวประหลาดใจได้ทุกๆสัปดาห์
        เพราะเราจะมีโปรโมชั่นเด็ดๆพร้อมข้อเสนอสุดพิเศษสำหรับคุณลูกค้าทุกท่านโดยเฉพาะ และที่สำคัญ
        สั่งซื้อสินค้ากับเราวันนี้ เรามีบริการจัดส่งสินค้าฟรีถึงหน้าประตูบ้านของคุณ ค่อยจ่ายเงินเมื่อได้รับสินค้าครบถ้วน
        รวมถึง คุณสามารถชำะระเงินกับพนักงานส่งของเมื่อรับสินค้าได้ในทันที หากคุณลูกค้ามีข้อสงสังต้องการสอบถามรายละเอียดหรือข้อมูลเพิ่มเติม
        เกี่ยวกับสินค้าและบริการของเรา สามารถติดต่อแผนกบริการลูกค้า Customer Service ของเรามาได้ที่ Live Chat เรายินดีให้บริการอย่างเต็มที่
        เพื่อความพึงพอใจสูงสุดของลูกค้าทุกท่านอย่างแน่นอนที่สุดเลยค่ะ
        <br><br>
    </body>
</html>

