<meta charset="UTF-8">
<div class="container" style="background-color: black">
    <h4 style="color: white"><strong><img src="/assets/images/tel.png"width="40px" height="40px">  Papang Beauty Shop&nbsp; &nbsp;PHONE&nbsp;095-3153308</strong><br></h4>
    <h6 style="color: white">ถนน ชัยพฤกษ์ &nbsp; ซอย ชัยพฤกษ์12 &nbsp; ตำบล ในเมือง &nbsp; อำเภอ เมือง &nbsp; จังหวัด ขอนแก่น &nbsp; 40000<br>
        </h6>
    <br>
    <hr width="100%" noshade color="white">
    <br>

    <div class="text-left ">
       Copyright © 2018 Papang Beauty Shop. All Rights Reserved
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="https://www.facebook.com/sarinya.jaisuk" target="_blank"><img src="/assets/images/facebook.png"width="30px" height="30px"></a>
        <a href="https://www.facebook.com/sarinya.jaisuk" target="_blank"><img src="/assets/images/instagram.png"width="30px" height="30px"></a>
        <a href="https://www.facebook.com/sarinya.jaisuk" target="_blank"><img src="/assets/images/twitter.png"width="30px" height="30px"></a>
        <a href="/profile" target="_blank"><img src="/assets/images/myprofile.png"width="30px" height="30px"></a>
    </div>
</div>
    <br>
