<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<br>
<br>
<ul class="nav nav-pills nav-stacked">
    <li style="border: 3px solid yellow; border-radius: 10px;"><a href="/home_page" style="text-align: center; font-weight: bolder; color: black;">HOME</a></li>
    <li style="border: 3px solid yellow; border-radius: 10px;"><a href="/products" style="text-align: center; font-weight: bolder; color: black;">Products</a></li>
    <li style="border: 3px solid yellow; border-radius: 10px;"><a href="/order" style="text-align: center; font-weight: bolder; color: black;">Order</a></li>
    <li style="border: 3px solid yellow; border-radius: 10px;"><a href="/promotion" style="text-align: center; font-weight: bolder; color: black;">Promotions</a></li>
    <li style="border: 3px solid yellow; border-radius: 10px;"><a href="/shop" style="text-align: center; font-weight: bolder; color: black;">Shop</a></li>
    <li style="border: 3px solid yellow; border-radius: 10px;"><a href="/inputMakeup" style="text-align: center; font-weight: bolder; color: black;">Inputproducts</a></li>

<br>

</ul>


