<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h2><p style="background-color: #FFFF66" align=center> <strong> <b>ORDER</b></strong></p></h2>

<table class="table table-primary" style= "background: #c8e5bc">
    <tr style="background: lightgreen;">
        <th><h3>สินค้า</h3></th> <th><h3>ราคา</h3></th> <th><h3>จำนวน</h3></th>
    </tr>
    <tr>
        <th>Lipstick</th>
        <th>199</th>
        <th>1</th>
    </tr>
    <tr>
        <th>Mascara</th>
        <th>99</th>
        <th>1</th>
    </tr>

    <tr>
        <th>Eyeliner</th>
        <th>182</th>
        <th>1</th>
    </tr>

    <tr>
        <th>Eyeshadow</th>
        <th>249</th>
        <th>1</th>
    </tr>

    <tr>
        <th>Powder</th>
        <th>359</th>
        <th>1</th>
    </tr>

</table>
<div class="container-fluid">
    <div class="col-sm-10">
        <div class="alert alert-success">
            <strong>ส่งฟรี!</strong> เมื่อซื้อสินค้าครบ 999 บาท
        </div>
    </div>
    <div class="col-sm-2">
        <h2> ราคารวม </h2><h2> 1,088 </h2>

        <button type="button" class="btn btn-info"><strong> <h4> ชำระสินค้า </h4> </strong></button><br>
    </div>
</div>
<br><br><br>
<center>
    <a href="/home_page"><img src="/assets/images/home.png"width="50px" height="50px"></a><br>
    กลับสู่หน้าหลัก
</center>
<br>