<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h2><p style="background-color: #FFFF66" align=center> <strong> <b>PRODUCTS</b></strong></p></h2>
<br>
<center>
    <div class="row">
        <div class="col-sm-4"><img src="/assets/images/11.jpg"width="200px" height="200px"><h4>Lipstick</h4>
            Price :&nbsp;199฿/ชิ้น</div>
        <div class="col-sm-4"><img src="/assets/images/22.jpg"width="200px" height="200px"><h4>Lipstick</h4>
            Price :&nbsp;179฿/ชิ้น</div>
        <div class="col-sm-4"><img src="/assets/images/33.jpg"width="200px" height="200px"><h4>Lipstick</h4>
            Price :&nbsp;189฿/ชิ้น</div>
    </div>
    <hr width="100%" noshade color="black">

    <div class="row">
        <div class="col-sm-4"><img src="/assets/images/44.jpg"width="200px" height="200px"><h4>Mascara</h4>
            Price :&nbsp;99฿/ชิ้น</div>
        <div class="col-sm-4"><img src="/assets/images/55.jpg"width="200px" height="200px"><h4>Mascara</h4>
            Price :&nbsp;159฿/ชิ้น</div>
        <div class="col-sm-4"><img src="/assets/images/66.jpg"width="200px" height="200px"><h4>Mascara</h4>
            Price :&nbsp;129฿/ชิ้น</div>
    </div>
    <hr width="100%" noshade color="black">

    <div class="row">
        <div class="col-sm-4"><img src="/assets/images/77.jpg"width="200px" height="200px"><h4>Eyeliner</h4>
            Price :&nbsp;149฿/ชิ้น</div>
        <div class="col-sm-4"><img src="/assets/images/88.jpg"width="200px" height="200px"><h4>Eyeliner</h4>
            Price :&nbsp;159฿/ชิ้น</div>
        <div class="col-sm-4"><img src="/assets/images/99.jpg"width="200px" height="200px"><h4>Eyeliner</h4>
            Price :&nbsp;179฿/ชิ้น</div>
    </div>
    <hr width="100%" noshade color="black">

    <div class="row">
        <div class="col-sm-4"><img src="/assets/images/101.jpg"width="200px" height="200px"><h4>Eyeshadow</h4>
            Price :&nbsp;299฿/ชิ้น</div>
        <div class="col-sm-4"><img src="/assets/images/102.jpg"width="200px" height="200px"><h4>Eyeshadow</h4>
            Price :&nbsp;259฿/ชิ้น</div>
        <div class="col-sm-4"><img src="/assets/images/103.jpg"width="200px" height="200px"><h4>Eyeshadow</h4>
            Price :&nbsp;299฿/ชิ้น</div>
    </div>
    <hr width="100%" noshade color="black">

<div class="row">
    <div class="col-sm-4"><img src="/assets/images/201.jpg"width="200px" height="200px"><h4>Powder</h4>
        Price :&nbsp;399฿/ชิ้น</div>
    <div class="col-sm-4"><img src="/assets/images/202.jpg"width="200px" height="200px"><h4>Powder</h4>
        Price :&nbsp;359฿/ชิ้น</div>
    <div class="col-sm-4"><img src="/assets/images/203.jpg"width="200px" height="200px"><h4>Powder</h4>
        Price :&nbsp;450฿/ชิ้น</div>
</div>
    <hr width="100%" noshade color="black">

    <div class="row">
        <div class="col-sm-4"><img src="/assets/images/301.jpg"width="200px" height="200px"><h4>Concealer</h4>
            Price :&nbsp;279฿/ชิ้น</div>
        <div class="col-sm-4"><img src="/assets/images/302.jpg"width="200px" height="200px"><h4>Concealer</h4>
            Price :&nbsp;259฿/ชิ้น</div>
        <div class="col-sm-4"><img src="/assets/images/303.jpg"width="200px" height="200px"><h4>Concealer</h4>
            Price :&nbsp;299฿/ชิ้น</div>
    </div>
    <br><br><br>

    <a href="/home_page"><img src="/assets/images/home.png"width="50px" height="50px"></a><br>
    กลับสู่หน้าหลัก
</center>
<br>
