<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <h2><p style="background-color: #FFFF66" align=center> <strong> <b>MY PROFILE</b></strong></p></h2>
                  <div align="center"><img src="/assets/images/profile.jpg"  width="230" height="300"></div>
            <div align="center"><font color="black"><h1>ศรินยา  ใจสุข</h1></font></div>
<br><br>
            <b><h4>ประวัติส่วนตัว</h4></b>
              &nbsp&nbsp&nbsp<b>เกิดวันที่ :</b> 17 กันยายน 2537 &nbsp&nbsp <b>อายุ</b> 23 ปี
              <br>&nbsp&nbsp&nbsp<b>ที่อยู่ปัจจุบัน :</b> 18 หมู่ 12 ต.บ้านไผ่ อ.บ้านไผ่ จ.ขอนแก่น
              <br>&nbsp&nbsp&nbsp<b>น้ำหนัก :</b> 57 กิโลกรัม &nbsp&nbsp <b>ส่วนสูง :</b> 165 เซนติเมตร
            <b><h4>ประวัติการศึกษา</h4></b>
              <b>&nbsp&nbsp&nbspจบการศึกษามัธยมตอนต้น :</b> โรงเรียนบ้านไผ่ <br>
                  <b>&nbsp&nbsp&nbspจบการศึกษามัธยมตอนปลาย :</b> โรงเรียนบ้านไผ่ <br>
                      <b>&nbsp&nbsp&nbspปัจจุบันกำลังศึกฝาาอยู่ที่ :</b> มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น <br>
                          <b>&nbsp&nbsp&nbspคณะ :</b> บริหารธุรกิจและเทคโนโลยีสารสนเทศ <br>
                              <b>&nbsp&nbsp&nbspสาขา :</b> ระบบสารสนเทศทางคอมพิวเตอร์

                <br>
              <br><a href="/home_page"><img src="/assets/images/tel-me.png"width="30px" height="30px"></a> Tel : 095-3153308
              <br><a href="/home_page"><img src="/assets/images/email-me.png"width="30px" height="30px"></a> E-mail : <a href="mailto: sarinya-js_hotmail.com" target="_blank">sarinya-js &#64 hotmail.com</a>
              <br><a href="/home_page"><img src="/assets/images/facebook-me.png"width="30px" height="30px"></a> Facebook : <a href="https://www.facebook.com/sarinya.jaisuk" target="_blank">Sarinya  Jaisuk</a>
              <br><a href="/home_page"><img src="/assets/images/line-me.png"width="30px" height="30px"></a> Line : <a href="http://line.me/ti/p/Qbm84-DveE" target="_blank">ชื่อแป้ง</a>

          <br><br><br>

                <center>
              <a href="/home_page"><img src="/assets/images/home.png"width="50px" height="50px"></a><br>
              กลับสู่หน้าหลัก
                </center>
          <br>
