<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h2><p style="background-color: #FFFF66" align=center> <strong> <b>PROMOTION</b></strong></p></h2>
<br>

    <h3>โปรโมชั่น cosmetics ประจำเดือนสิงหาคม </h3>
<h4><img src="/assets/images/Glen_star.gif"width="20px" height="20px">
<img src="/assets/images/Glen_star.gif"width="20px" height="20px"><b> ลดสูงสุดถึง 70% </b>
<img src="/assets/images/Glen_star.gif"width="20px" height="20px">
<img src="/assets/images/Glen_star.gif"width="20px" height="20px"></h4><br>
    <h4><img src="/assets/images/money.png"width="35px" height="35px">ราคาพิเศษเฉพาะที่ #PAPANGBEAUTYSHOP เท่านั้น!<br>
  *โปรโมชั่นร่วมรายการเฉพาะหน้าร้านสาขาที่จำหน่าย วันนี้ - 31 ส.ค. นี้<br>
  สอบถามเพิ่มเติม Line : papang084 หรือ http://line.me/ti/p/Qbm84-DveE</h4><br><br>

  #shopbeauty #beauty #khonkaen #store #siam #square #centerpoint<br>
  #makeup #skincare #haircare #papang #sale #papangbeautyshop<br>
      <br><br>
  *** ขอสงวนสิทธิการเปลี่ยนแปลงโปรโมชั่นโดยไม่ต้องแจ้งให้ทราบล่วงหน้า ***<br><br>

  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<br><br>
<center>
  <div class="row">
    <div class="col-sm-4">
      <a href="/sale1" target="_blank"><img src="/assets/images/promotion1.jpg"width="270px" height="220px"><h4>ของขวัญสุดพิเศษเพื่อแม่! รับฟรี!! ของแถมมูลค่า 2890.-</h4>
        <p style="color : red;"> 11 Aug - 13 Aug 18 </p> </div>
      <div class="col-sm-4">
        <a href="/sale2" target="_blank"><img src="/assets/images/promotion5.jpg"width="270px" height="220px"><h4>FREE! Metallic Glitter เมื่อซื้อสิ้นค้า NYX ครบ 900 บาท ตำเลย!!</h4>
        <p style="color : red;"> Now - 31 Aug 18 </p> </div>

  </div>
  <br>
  <br>
  <br>

  <a href="/home_page"><img src="/assets/images/home.png"width="50px" height="50px"></a><br>
  กลับสู่หน้าหลัก
</center>
<br>