<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
  <p>
    <img src="/assets/images/logo1.png"width="200px" height="195px" alt="Smiley face" style="float:left;"> <br>
<h3><b>FREE! Metallic Glitter เมื่อซื้อสิ้นค้า NYX ครบ 900 บาท ตำเลย!!</b></h3>
<b>วันที่:</b> Now - 31 Aug 18<br>
<b>สถานที่:</b> PAPANG BEAUTY SHOP
</p>
<hr width="100%" noshade color="black">
  <h3><b>มาเร้วว ก่อนของหมด !!</b></h3>
  <h4><img src="/assets/images/fire.png"width="20px" height="30px"> NYX ใจดีอีกแล้ว<br><br>
  <b>FREE!!</b> Metallic Glitter (สีใดก็ได้) 1ชิ้น<br>
  เมื่อซื้อสินค้า NYX ใดๆก็ได้ครบ 900บาท</h4><br><br>

  * จำกัด 1 คน 1 สิทธิ์ 1 ใบเสร็จเท่านั้น<br>
  ** ไม่ร่วมกับโปรโมชั่นส่งเสริมการขายอื่นๆ<br>
  *** จนกว่าสินค้าจะหมด<br><br>
<div class="row" align="center">
  <div class="col-sm-4"><img src="/assets/images/promotion6.jpg"width="400px" height="430px"> </div>
  <div class="col-sm-4"><img src="/assets/images/promotion7.jpg"width="400px" height="430px"> </div>
  <div class="col-sm-4"><img src="/assets/images/promotion8.jpg"width="300px" height="430px"> </div>
</div>
  <br><br><br><br>
  <br>
  <center>
    <a href="/home_page"><img src="/assets/images/home.png"width="50px" height="50px"></a><br>
    กลับสู่หน้าหลัก
  </center>
  <br>
</body>