<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<p>
  <img src="/assets/images/logo1.png"width="200px" height="195px" alt="Smiley face" style="float:left;"> <br>
  <h3><b>ของขวัญสุดพิเศษเพื่อคุณแม่! รับฟรี!! ของแถมมูลค่า 2,890.-</b></h3>
  <b>วันที่:</b> 11 Aug - 13 Aug 18<br>
  <b>สถานที่:</b> PAPANG BEAUTY SHOP
</p>
  <hr width="100%" noshade color="black">
  <div class="container-fluid">
    <div class="row">
      <div class="alert alert-success">
        <p>
          <img src="/assets/images/promotion2.jpg"width="270px" height="220px" alt="Smiley face" style="float:left;"> <br><br><br>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="/assets/images/star.png"width="40px" height="40px"> เมื่อซื้อผลิตภัณฑ์ BB Cushion สูตร Ati Aging 1 ชิ้น</h4>
      <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>รับฟรี!!</b> Serum Intense Lipstick 4 color lips palette มูลค่า 590 บาท</h3><br><br><br>
      </div>
      <div class="alert alert-success">
        <p>
          <img src="/assets/images/promotion3.jpg"width="270px" height="220px" alt="Smiley face" style="float:left;"> <br><br><br>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="/assets/images/star.png"width="40px" height="40px"> เพียงซื้อผลิตภัณฑ์กลุ่ม Perfect Renew </h4>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>รับฟรี!!</b> Cleansing Trial Kit 3 Items มูลค่า 470 บาท</h3><br><br><br>
      </div>
      <div class="alert alert-success">
        <p>
          <img src="/assets/images/promotion4.jpg"width="270px" height="220px" alt="Smiley face" style="float:left;"> <br><br><br>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="/assets/images/star.png"width="40px" height="40px">เพียงซื้อผลิตภัณฑกลุ่ม Time Freeze 2 ชิ้น </h4>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>รับฟรี!!</b> ชุดเซ็ทผลิตภัณฑ์สุดพิเศษ มูลค่า 2,890 บาท</h3><br><br><br>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <br>
  <center>
    <a href="/home_page"><img src="/assets/images/home.png"width="50px" height="50px"></a><br>
   กลับสู่หน้าหลัก
    </center>
  <br>
</body>