@(p1:Makeup,p2:Makeup,p3:Makeup,p4:Makeup,p5:Makeup,p6:Makeup,pp:Makeup)
<h2><p style="background-color: #FFFF66" align=center> <strong> <b>SHOP</b></strong></p></h2>
<br>
<div class="container-fluid">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-group">
            <div  class="panel panel-primary">
                <div class="panel-heading">@p1.getName()</div>
                <div class="panel-body"style="color: black">
                    id:@p1.getId()<br>
                    name:@p1.getName()<br>
                    brand:@p1.getBrand()<br>
                    category:@p1.getCategory()<br>
                    price:@p1.getPrice()<br>
                    amount:@p1.getAmount()<br>
                </div>
            </div>
            <div  class="panel panel-primary">
                <div class="panel panel-heading">@p2.getName()</div>
                <div class="panel panel-body "style="color: black">
                    id:@p2.getId()<br>
                    name:@p2.getName()<br>
                    brand:@p2.getBrand()<br>
                    category:@p2.getCategory()<br>
                    price:@p2.getPrice()<br>
                    amount:@p2.getAmount()<br>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">@p3.getName()</div>
                <div class="panel-body"style="color: black">
                    id:@p3.getId()<br>
                    name:@p3.getName()<br>
                    brand:@p3.getBrand()<br>
                    category:@p3.getCategory()<br>
                    price:@p3.getPrice()<br>
                    amount:@p3.getAmount()<br>
                </div>
            </div>
            <div  class="panel panel-primary">
                <div class="panel-heading">@p4.getName()</div>
                <div class="panel-body"style="color: black">
                    id:@p4.getId()<br>
                    name:@p4.getName()<br>
                    brand:@p4.getBrand()<br>
                    category:@p4.getCategory()<br>
                    price:@p4.getPrice()<br>
                    amount:@p4.getAmount()<br>
                </div>
            </div>
            <div  class="panel panel-primary">
                <div class="panel-heading">@p5.getName()</div>
                <div class="panel-body"style="color: black">
                    id:@p5.getId()<br>
                    name:@p5.getName()<br>
                    brand:@p5.getBrand()<br>
                    category:@p5.getCategory()<br>
                    price:@p5.getPrice()<br>
                    amount:@p5.getAmount()<br>
                </div>
            </div>
            <div  class="panel panel-primary">
                <div class="panel-heading">@p6.getName()</div>
                <div class="panel-body"style="color: black">
                    id:@p6.getId()<br>
                    name:@p6.getName()<br>
                    brand:@p6.getBrand()<br>
                    category:@p6.getCategory()<br>
                    price:@p6.getPrice()<br>
                    amount:@p6.getAmount()<br>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<br>
<center>
    <a href="/home_page"><img src="/assets/images/home.png"width="50px" height="50px"></a><br>
    กลับสู่หน้าหลัก
</center>
<br>