<div class="container-fluid">
    <div class="row" style="color: #e4b9c0">
        <div class="col-sm-4"style="background: #c7254e">
        </div>
        <div class="col-sm-4"style="background: olivedrab">
        </div>
        <div class="col-sm-4"style="background: blueviolet">
        </div>
    </div>
    <div class="row" style="color: #e4b9c0">
        <div class="col-sm-4"style="background: wheat">
        </div>
        <div class="col-sm-4"style="background: chartreuse">
        </div>
        <div class="col-sm-4"style="background: blueviolet">
        </div>
    </div>
</div>